/* Format recipe boxes */

.recipe-list{
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    width: 33%;
    height: 180px;
    margin: 0;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    border: 2px solid black;
    font-size: 40px;
  }
}
element.style {
  }
  a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    -webkit-text-stroke: 1px darkgrey;
    -webkit-text-fill-color: white;
    -webkit-animation: fill 0.5s infinite alternate;
  }


/* Main marketing message  */

.hero{

       background: url('../images/green-smoothie2.jpg') bottom center no-repeat;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: bottom center;
       padding-bottom: 200px;
       padding-top: 200px;
       min-height: 400px;
       color: white;
       text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}
/* Make search box text black */
.search-text-input{
  color: black;

}
 /*  Font and background */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #ff8a00;  background: url('../images/white_brick_wall.png') center center fixed;
  height: 500px;
  color: black;
  text-align: center;
  font-size: 20px;
}
/* Format "saved recipes" */
.saved-recipes-list{
  list-style-type: none;

}

/* animation for header */
h1 {
  animation-duration: 3s;
  animation-name: slidein;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 90px;
  font-weight: bold;
  color: white;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
