
/* Format recipe boxes */

.recipe-list{
  padding-left: 0;
  list-style-type: none;
  li {
    display: inline-block;
    width: 33%;
    height: 180px;
    margin: 0;
    padding: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    border: 2px solid black;
    font-size: 40px;
  }
}
element.style {
  }
  a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    -webkit-text-stroke: 1px darkgrey;
    -webkit-text-fill-color: white;
    -webkit-animation: fill 0.5s infinite alternate;
  }
  /* Format save button */

/* Main marketing message and sign up button */

.hero container-fluid p{
  float: right;
  color: #A66EFF;

}

.hero{

       background: url('../images/green-smoothie.jpg') bottom center no-repeat;
       background-size: cover;
       min-height: 400px;
       color: white;
}
 /*  font and background */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background: -webkit-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FFEEEE 10%, #DDEFBB 90%); /* W3C */


/*  background-color: #ff8a00;  background: url('../images/white_brick_wall.png') center center fixed; */
  height: 500px;
  color: black;
  text-align: center;
  font-size: 20px;
}


/* animation for header */
h1 {
  animation-duration: 3s;
  animation-name: slidein;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 80px;
  color: white;
/*   background: -webkit-linear-gradient(#fff100,#ff9b00);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;*/
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
