
<div ng-app ng-controller="MainCtrl">
  <div class="jumbotron">
    <h1>What can I do with a Plaintain? </h1>
    <label> Enter your ingredient here: </label><input ng-model="query" placeholder="Plaintain" autofocus>
    <div class="search">
      <div><button class="btn btn-md btn-block btn-primary" ng-click="findRecipes()">Search Recipes!!<span class="glyphicon glyphicon-cutlery"></span></button>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="instructions">
    <ol>
      <li>This app was inspired by the lone Plaintain sitting in my fruit bowl.</li>
      <li>Search for recipes by typing in one ingredient.</li>
    </ol>
  </div>
  </div>

  <div ng-if="recipesFound">
  <!--  <p class="lead">
      {{recipesFound.totalMatchCount}} recipes found!
    </p> -->

<h3>Your Recipes</h3>
    <div ng-repeat="recipe in recipesFound.matches | limitTo: 9">
      <!--  Trying to create 3 x 4 rows in bootstrap
      <div ng-repeat="product in products" class="col-md-6">
      <div class="thumbnail">
      <img ng-src="{{recipe.smallImageUrls[0]}}" alt="" />
      <p class="title">{{ product.name }}</p>
      <p class="price">{{ product.price | currency }}</p>
      <p class="date">{{ product.pubdate | date }}</p>
    </div>
  </div> -->
  <p> <a ng-href="http://www.yummly.com/recipe/{{recipe.id}}">{{recipe.recipeName}}</a>
    <img src="{{recipe.smallImageUrls[0]}}" alt="" /></p>
    <button class="btn btn-xs btn-success" ng-click="saveRecipe(recipe)">Save This Recipe!<span class="glyphicon glyphicon-apple"></span></button>

  </div>

  <div ng-if="storage.savedRecipes">
    <h2>My recipe box</h2>
    <ul class="saved-recipes-list">
      <li ng-repeat="recipe in storage.savedRecipes">
        <a ng-href="/#/recipe/{{recipe.id}}" class="btn btn-small btn-primary">{{recipe.recipeName}}</a>
        <button ng-click="delete(recipe)">Remove this recipe<i class="glyphicon glyphicon-erase"></i></button>
      </li>
    </ul>
  </div>
</div>
</div>
