<div ng-app ng-controller="MainCtrl">
  <div class="hero container-fluid">
    <div class="header">
      <h1 class="text-center">Find amazing recipes</h1>
    </div>
    <h2>Enter an ingredient below and find links to <strong>amazing</strong> recipes!!</h2>
    <label> Enter your ingredient here: </label><input ng-model="query" placeholder="example: Plaintain" autofocus>
    <div class="search">
      <div><button class="btn btn-md btn-primary" ng-click="findRecipes()">Search Recipes!!<span class="glyphicon glyphicon-cutlery"></span></button>
      </div>
    </div>
  </div>



<div ng-if="recipesFound">
  <!-- This code will displacy total recipes found matching keyword. I chose not to include.
   <p class="lead">
  {{recipesFound.totalMatchCount}} recipes found!
</p> -->

<!-- Found Recipes. Yummly API limits me to display 10, I chose to limit 9 for styling reasons  -->
<div class='container'>
  <h2>Found Recipes:</h2>
  <ul class="recipe-list">
  <li ng-repeat="recipe in recipesFound.matches | limitTo: 9" style="background-image: url({{recipe.smallImageUrls[0]}});">
         <h2> <a ng-href="http://www.yummly.com/recipe/{{recipe.id}}" target="_blank">{{recipe.recipeName}}</a></h2>
         <p class="save-button-container"> <button class="btn btn-xs btn-success" ng-click="saveRecipe(recipe)">Save This Recipe!<span class="glyphicon glyphicon-apple"></span></button></p>
  </li>
</ul>
</div>
<!-- Save recipes and delete saved recipes  -->
<div ng-if="storage.savedRecipes">
  <h2>Your recipe box</h2>
  <ul class="saved-recipes-list">
    <li ng-repeat="recipe in storage.savedRecipes">
      <a ng-href="/#/recipe/{{recipe.id}}" class="btn btn-small btn-primary">{{recipe.recipeName}}</a>
      <button ng-click="delete(recipe)">Remove this recipe<i class="glyphicon glyphicon-erase"></i></button>
    </li>
  </ul>
</div>
</div>
<div>
</div>
</div>
